starr.json
{
  "name": "starr",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://effortless-semifreddo-88227f.netlify.app"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -440,
        -140
      ],
      "id": "d471b687-4cdd-452f-a9e7-1d575de27aa6",
      "name": "Webhook",
      "webhookId": "be1902b8-10ad-42e0-9c75-491f73302be6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.question }}{{ $json.body.message }}",
        "options": {
          "systemMessage": "You are HarbourCare Allied Health Assistant, a professional chatbot trained to provide accurate information **only** about HarbourCare Allied Health. \n\nUse the following dataset to answer questions:\n\n- Name: HarbourCare Allied Health\n- ABN: 12 345 678 901\n- Services: Support Work, Occupational Therapy, Physiotherapy\n- Locations: Canberra & Gold Coast\n- Contact: hello@harbourcare.example.com | +61 2 5550 9000\n- Hours: Mon–Fri 08:30–17:30, Sat 09:00–13:00, Sun Closed\n- FAQs: Accepts NDIS plans, offers home visits\n- Staff Examples: Kylie Nguyen (Client Services Lead), Dr. Aaron Patel (Senior Physiotherapist)\n\n**Rules:**\n1. Always answer using only the above dataset.\n2. Be concise, clear, professional, and polite.\n3. If asked something outside this dataset, reply:  \n   “I can only answer questions about HarbourCare Allied Health right now.”\n4. Always provide structured and easy-to-read responses.\n5. Use proper grammar and professional tone.\n6. Avoid making up any information not listed in the dataset.\n7. Include practical examples where relevant (e.g., contact info, locations, hours).\n\nYour role is to assist users in understanding services, hours, contact details, locations, staff, and other related information strictly from the dataset.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -188,
        -140
      ],
      "id": "fb6ce4db-e8cd-48d2-8de2-fa1547063057",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -300,
        60
      ],
      "id": "126eaf27-0714-41e6-82d3-ca2c56e8729e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ZpfNEOpUz1wbenV1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "tableName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        60,
        80
      ],
      "id": "887b8041-11fb-4539-9b75-e7a35778838d",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "7keBNx8lwYCtwErZ",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        220,
        -160
      ],
      "id": "c1e74117-1548-4aa2-becf-3babc445859e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.x-real-ip }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -140,
        60
      ],
      "id": "5a6452c1-869e-4271-a6f2-57f6189ae408",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "64f7c0d4-ca72-4496-8eaa-2f218676b5f3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "739675961ce0ab7cff8a565c49ee3e2a96ba58ff9f1b81f66e7c368cc03c1f36"
  },
  "id": "bi5NrHHvaCwu5s93",
  "tags": []
}